$dark-10: #0f0f11;
$dark-20: #17171A;
$dark-30: #202024;
$dark-40: #2B2B2E;

$gray-10: #AFABB6;
$gray-20: #afabb6a6;
$gray-30: #afabb620;
$gray-40: #afabb6a4;

$white-10: #FFFFFF;

$shadow-10: rgba(0, 0, 0, 0.30) 0 5px 20px;

$gradient-10: linear-gradient(100deg, #a237a3 0%, #7b66ca 50%, #5c8ce8 100%);

$color-10: #A94438;
$color-20: #43766C;
$color-30: #750E21;
$color-40: #2B2A4C;
$color-50: #D6E4E5;
$color-60: #292C6D;
$color-70: #B0EACD;
$color-80: #5272F2;
$color-90: #FFCD4B;
$color-100: #B2A4FF;