$dark-10: #0f0f11;
$dark-20: #17171A;
$dark-30: #202024;
$dark-40: #2B2B2E;

$gray-10: #AFABB6;
$gray-20: #afabb6a6;
$gray-30: #afabb620;

$white-10: #FFFFFF;

$shadow-10: rgba(0, 0, 0, 0.30) 0 5px 20px;